.nightSky h1 {
    text-align: center;
    padding: 1rem;
      color: transparent;
     font-size: 3vw;
    background: -webkit-linear-gradient(white, #38495a);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

